h1 {
    font-size: 90px;
    color: blue;
    margin: 0;
    line-height: 1;
    padding: 0;
}

#info_container {
    font-size: 22px;
}

#button_container{
	margin: 50px auto;
	text-align: center;
}
